@model IEnumerable<KinmuSample.Models.m_kojin>

<tr>
    <td>
        <input type="radio" name="q1" value="氏名" checked>氏名
    </td>
    <td>
        <ul style="list-style: none">
            @foreach (var item in Model)
            {
                <li>
                    <input class="controlbyradio" type="checkbox" name="kojin_name" value="@item.kojin_name"/> @item.kojin_name
                </li>
            }
        </ul>
    </td>
</tr>